<div class="main-content text-white">
    <div class="row">
        <div class="col-md-12 main-block ">
            <div class="container">
                <div class="text-content">
                    <h1 class="display-4">The Big Blog Theory</h1>
                    <p class="text-right">
                        What a hell are we fucking doing in this fucking world ? <br>
                        Or maybe we should die ? <br>
                        Or no ?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-block child-block">
            <div class="container text-center">
                <div class="text-content">
                    <hr>
                    <p class="">
                        Science, Philosophy, Astronomy or whatever what I interesting. I still not sure why I'm here (I
                        mean...world), because of someone or something ? Are you still here maybe you are interested
                        here ? Just visit Post maybe you'll find in interesting stuff about my thoughts ?
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card articles-card  card-link mt-3">
                <div class="card-body">
                    <h5 class="card-title">Artiles</h5>
                    <p class="card-text">Visit my articles</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="details-content">
        <div class="transformed-block">
            <div class="container text-center">
                <hr>
                <div class="row mx-auto">
                    <div class="col-md-6 mt-1">
                        <a href="https://twitter.com/wonolgy">
                            <div class="card card-link">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="fa fa-twitter" aria-hidden="true"></i></h5>
                                    <p class="card-text">@wonolgy</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 mt-1">
                        <a href="https://www.instagram.com/oleksandr_rapiy">
                            <div class="card card-link">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="fa fa-instagram" aria-hidden="true"></i></h5>
                                    <p class="card-text">@wonolgy</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>