<div class="container">
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Title of article</h5>
            <p class="card-text">Content</p>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Title of article</h5>
            <p class="card-text">Content</p>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Title of article</h5>
            <p class="card-text">Content</p>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Title of article</h5>
            <p class="card-text">Content</p>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Title of article</h5>
            <p class="card-text">Content</p>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Title of article</h5>
            <p class="card-text">Content</p>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Title of article</h5>
            <p class="card-text">Content</p>
        </div>
    </div>
</div>